@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: uppercase;
}

.container-info{
    min-height: 100vh;
    background: skyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 60px;
}

.container-info form{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    padding: 20px;
    width: 600px;
    padding-top: 160px;
    border: 1px solid black;
}

.container-info form .card-desc{
    margin-top: 20px;
}

.container-info form .card-desc span{
    display: block;
    color:#999;
    padding-bottom: 5px;
}

.container-info form .card-desc input,
.container-info form .card-desc select{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border:1px solid rgba(0,0,0,.3);
    color:#444;
}

.container-info form .flexbox{
    display: flex;
    gap:15px;
}

.container-info form .flexbox .card-desc{
    flex:1 1 150px;
}

.container-info form .submit-btn{
    width: 100%;
    background: linear-gradient(45deg, skyblue, royalblue);
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    color:#fff;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s linear;
}

.container-info form .submit-btn:hover{
    letter-spacing: 2px;
    opacity: .8;
}

.container-info .card-container{
    margin-bottom: -150px;
    position: relative;
    height: 250px;
    width: 400px;
}

.container-info .card-container .front{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; left: 0;
    background: linear-gradient(45deg, skyblue, royalblue);
    border-radius: 5px;
    border: 1px solid black;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    padding:20px;
    transform:perspective(1000px) rotateY(0deg);
    transition:transform .4s ease-out;
}

.container-info .card-container .front .image{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 10px;
}

.container-info .card-container .front .image img{
    height: 50px;
}

.container-info .card-container .front .card-num-box{
    padding:30px 0;
    font-size: 22px;
    color:#fff;
}

.container-info .card-container .front .flexbox{
    display: flex;
}

.container-info .card-container .front .flexbox .box:nth-child(1){
    margin-right: auto;
}

.container-info .card-container .front .flexbox .box{
    font-size: 15px;
    color:#fff;
}

.container-info .card-container .back{
    position: absolute;
    top:0; left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, skyblue, royalblue);
    border-radius: 5px;
    border: 1px solid black;
    padding: 20px 0;
    text-align: right;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    transform:perspective(1000px) rotateY(180deg);
    transition:transform .4s ease-out;
}

.container-info .card-container .back .stripe{
    background: #000;
    width: 100%;
    margin: 10px 0;
    height: 50px;
}

.container-info .card-container .back .box{
    padding: 0 20px;
}

.container-info .card-container .back .box span{
    color:#fff;
    font-size: 15px;
}

.container-info .card-container .back .box .cvv-box{
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    color:#333;
    background: #fff;
    border-radius: 5px;
    width: 100%;
}

.container-info .card-container .back .box img{
    margin-top: 30px;
    height: 30px;
}

.social-menu {

	margin-top: 40px;
}

.social-menu ul {
	display: flex;
	justify-content: center;
	padding: 15px;
	list-style: none;
}

.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}

.social-menu ul li .fa {
    color: #000000;
    font-size: 23px;
    line-height: 40px;
    transition: .5s;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.social-menu ul li a:hover{
	transform: translate(0, -10px);
}